



/* parte de css de Jhonatan */

.titulo1{

    display: flex;
    justify-content: center;
    margin-right: 300px;
}

#colorJ{
background-color: #6ab7f5;
margin-left: 200px;
margin-right: 200px;
margin-top: 50px;

}
.cardJ {
    background-color: white;
margin-left: 1000px;
   
border-style: solid;
border-color: black;
}
.centrar{
    display: flex;
    justify-content: center;
    margin-top: 7px;

}
.card-body{

    margin:5px
}
.card-img-top{

    
    border-radius: 20px;
    border-color: black;
    border-style: solid;
}

.button{


}

.texto{

    margin-left: 200px ;
    

}
.titulo2{

    
    display: flex;
    justify-content: center;
  background-color: rgb(231, 84, 15);
  border-style: solid ;
  border-color: black;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-width: 2px;
  
  


}



/* parte de css de Jhonatan */