



/* parte de css de Jhonatan */

#colorJ{
background-color: #6ab7f5;
margin-left: 200px;
margin-right: 200px;
margin-top: 50px;

}
.cardJ {

    border: 2px;
    border-radius:3% ;
border-style: solid;
border-color: black;
}
.centrar{
    display: flex;
    justify-content: center;
    margin-top: 7px;

}
.card-body{

    margin:5px
}

/* parte de css de Jhonatan */